html,body { 
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.contentBaseClass {
  content: '';
  display: block;
  background: gray;
  border-radius: 50%;
  overflow: hidden;
}

.palette-box {
  * {
    user-select: none;
    -webkit-user-drag:none
  }

  position: absolute;
  background: greenyellow;
  right: 0px;
  top: 50%;
  padding: 10px;

  .palette-icon {
    margin: 5px;
    width: 40px;
    height: 40px;
  }

  .palette-tools {
    display: none;
    align-items: center;
    justify-content: center;

    .shape {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    .color {
      cursor: pointer;
      width: 16px;
      height: 26px;
    }

    p {
      width: 0px;
      height: 26px;
      border-right: 1px solid silver;
    }

    .yellow {
      background-color: yellow;
    }

    .red {
      background-color: red;
    }

    .gray {
      background-color: gray;
    }

    div {
      margin: 5px;
    }

    .size {
      cursor: pointer;
      width: 16px;
      height: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .thin::after {
      &:extend(.contentBaseClass);
      width: 4px;
      height: 4px;
    }

    .medium::after {
      &:extend(.contentBaseClass);
      width: 8px;
      height: 8px;
    }

    .thick::after {
      &:extend(.contentBaseClass);
      width: 12px;
      height: 12px;
    }
  }

  &:hover {
    .palette-icon { display: none; }

    .palette-tools {
      display: flex;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}